.mainHeader {
  background-color: rgb(210, 255, 240);
  padding:50px;
}

.headingOne {
  background-color: rgb(210, 255, 240);
}

.recommend  {
  background-color:rgb(210, 255, 240);
  padding: 50px;
}

.footer {
  text-align: center;
  color: rgb(108, 177, 255);
}

.footer :hover  {
  color: rgb(108, 177, 255);
}

.bg-emerald-400 {
  background-color:rgb(109, 255, 206);
}

.bg-emerald-300 {
  background-color:rgb(210, 255, 240);
}

.zz665  {
  height: 100%;
  width: 100%;
}